[Unit]
Description=MobileDeBotParser
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/www/mobile/parser/scripts
User=root

ExecStart=/var/www/mobile/parser/scripts/mobilede_docker_start.sh
ExecStop=/var/www/mobile/parser/scripts/mobilede_docker_stop.sh

TimeoutStartSec=300
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
